Import pandas and load the data.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/balance.txt', delim_whitespace=True)

Now write the code that provides the following information for a report:

In [5]:
# what is the average income based on ethnicity?
print(df.groupby('Ethnicity')['Income'].mean(numeric_only=True))

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [11]:
# on average, do married or single people have a higher balance?
print("The average balance of a female is", df[df.Gender == "Female"].loc[:,"Balance"].mean())
print("The average balance of a male is",df[df.Gender == "Male"].loc[:,"Balance"].mean())

The average balance of a female is 13.414009695825909
The average balance of a male is 13.44543985646154

In [12]:
# what is the highest income in the dataset?
print("The highest income in the data set is", df.loc[:, "Income"].max())

The highest income in the data set is 186.634

In [13]:
# what is the lowest income in the dataset?
print("The lowest income in the data set is", df.loc[:, "Income"].min())

The lowest income in the data set is 10.354

In [15]:
# how many cards are recorded in the dataset?
print("The total number of cards recorded is:", df['Cards'].sum())

The total number of cards recorded is: 1183

In [16]:
# how many male and female entries are in the dataset?
df.groupby('Gender')['Gender'].count()

Gender
Female    207
Male      193
Name: Gender, dtype: int64